<ion-header class="ion-no-border" id="headerEve" mode="md">
  <span class="header-title">Modificar {{text}}</span>
</ion-header>

<ion-content mode="md">

  <ion-grid scrollY=true>
    <!--Registro-->
    <ion-row>
        <ion-col size="12" size-sm>
          <ion-label color="azul">{{text}}</ion-label>
          <ion-input autocomplete="off" [(ngModel)]="number" type="text" inputmode="text" pattern="text"
            tabindex="1" enterkeyhint="next" value={{number}}  color="azul" class="shadow-red">
          </ion-input>
        </ion-col>
        <br>
        <ion-col size="12" size-sm *ngIf="guion">
          <ion-label color="azul">{{text2}}</ion-label>
          <ion-input autocomplete="off" [(ngModel)]="number2" type="text" inputmode="text" pattern="text" tabindex="2" enterkeyhint="next"
          value={{number}} color="azul" class="shadow-red"></ion-input>
        </ion-col>
        <br>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer id="Footer" color="celeste" class="ion-no-border" lines="none">

  <!--Botón de continuar-->
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button id="anterior" color="azul-claro" [routerLink]="['/donacion']">
          Cancelar
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button color="anaranjado" (click)="modificarNumero()">
          Aceptar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>