<ion-header class="ion-no-border" id="headerPp" mode="md">
  <ion-button fill="clear" [routerLink]="['/romeria']">
    <ion-icon slot="icon-only" color="azul" name="arrow-back-outline"></ion-icon>
  </ion-button>
  <br>
  <span>Puntos de partida</span>
</ion-header>

<ion-content mode="md">

  <div mode="md" id="segmentPp">
    <ion-grid id="BotonesAE">
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <ion-button class="agregarPunto" [routerLink]="['/agregar-punto-partida']">
            Agregar punto nuevo
          </ion-button>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="Puntos">
      <ion-row>
        <ion-col size="12" *ngIf="!contentLoaded">
          <ion-card *ngFor="let item of [1,2,3,4,5,6,7,8,9]">
            <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <ion-text>
                    <h5>
                      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </h5>
                    <h4>
                      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    </h4>
                  </ion-text>
                </ion-col>
                <ion-col size="8">
                  <ion-text>
                    <h3>
                      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                      <p>
                        <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                      </p>
                    </h3>
                  </ion-text>
                </ion-col>
                <ion-col size="1">
                  <ion-card-content class="ion-no-padding">
                    <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
                  </ion-card-content>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
        <ion-col size="12" *ngIf="contentLoaded">
          <ion-card *ngFor="let punto of Puntos"
            (click)="PopPunto(punto.nombre, punto.orden, punto.kmTotal, punto.pasosTotal, punto.horas, punto.minutos, punto.tiempoMilisegundos, punto.idPunto)">
            <ion-grid>
              <ion-row>
                <ion-col size="11">
                  <ion-text>
                    <h3><b>{{punto.nombre}}</b>
                    </h3>
                  </ion-text>
                </ion-col>
                <ion-col size="1">
                  <ion-card-content class="ion-no-padding">
                    <img src="assets/imágenes/3puntos.svg" />
                  </ion-card-content>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>

  <!--Full pop Punto-->
  <div id="PopPunto" mode="md">

    <!-- Minimize Icon -->
    <ion-buttons slot="end">
      <ion-button (click)="minimize()">
        <img src="assets/imágenes/x.svg">
      </ion-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <h2>
            {{nombre}}
          </h2>
        </ion-col><br><br><br><br><br>
        <ion-col class="scroll" size="12" scrollY=true>
          <p><b>Posición: </b> {{orden}}
            <br>
            <br>
            <b>Kilómetros totales: </b> {{kmTotal}}
            <br>
            <br>
            <b>Pasos totales: </b> {{pasosTotal}}
            <br>
            <br>
            <b>Horas totales: </b> {{horas}}
            <br>
            <br>
            <b>Minutos totales: </b> {{minutos}}
            <br>
            <br>
            <b>Tiempo en milisegundos: </b> {{tiempoMilisegundos}}
          </p>
         </ion-col>
      </ion-row>
    </ion-grid>
    <br>
    <ion-grid class="ion-text-center" style="margin: 0px 20px 20px 20px;">
      <ion-row>
        <ion-col size="12" (click)="goModificarPunto()">
          <img style="vertical-align: bottom; margin-bottom: 7px;" src="assets/imágenes/settings-icon.svg" />
          <sub class="modificar">
            Modificar punto de partida
          </sub>
        </ion-col>
        <ion-col size="12" (click)="borrarPunto()">
          <img style="vertical-align: bottom; margin-bottom: 7px; height: 20px;" src="assets/imágenes/borrar.svg" />
          <sub class="borrar">
            Borrar punto de partida
          </sub>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>